%ul
  %li
    ="First name: #{@contact.first_name}" unless @contact.first_name.blank?
  %li
    ="Last name: #{@contact.last_name}" unless @contact.last_name.blank?
  %li
    ="Phone: #{@contact.phone}" unless @contact.phone.blank?
  %li
    ="Email: #{@contact.email}" unless @contact.email.blank?
  %li
    ="From: #{@contact.from}" unless @contact.from.blank?
  %li
    ="To: #{@contact.to}" unless @contact.to.blank?
  %li
    ="Message: #{@contact.message}" unless @contact.message.blank?
