="First name: #{@contact.first_name}" unless @contact.first_name.blank?
="Last name: #{@contact.last_name}" unless @contact.last_name.blank?
="Phone: #{@contact.phone}" unless @contact.phone.blank?
="Email: #{@contact.email}" unless @contact.email.blank?
="From: #{@contact.from}" unless @contact.from.blank?
="To: #{@contact.to}" unless @contact.to.blank?
="Message: #{@contact.message}" unless @contact.message.blank?
